.root {
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-background-color: #1e1e1e;
}

.text-field {
    -fx-font-size: 12px;
    -fx-alignment: center-right;
    -fx-padding: 15px;
    -fx-background-color: #2d2d2d;
    -fx-text-fill: #e0e0e0;
    -fx-border-color: #444444;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button {
    -fx-font-size: 10px;
    -fx-background-color: #3a3a3a;
    -fx-border-color: #444444;
    -fx-border-width: 1px;
    -fx-text-fill: #e0e0e0;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 8px 10x;
}

.button:hover {
    -fx-background-color: #4a4a4a;
}

.button:pressed {
    -fx-background-color: #5a5a5a;
}